body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

.name-color{
    color: rgb(0, 234, 255);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
}

.half-width img{
    width: 100%;
}